// Place all the styles related to the City controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'ionicons';
body {
	margin: 0;
	padding: 0;
	font-family: 'Handlee', cursive;
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: #329999;
	color: #fff;
	box-shadow: 2px 2px 2px #696969;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
}

.logo {
	height: 80px;
  width: 311px;
}

.form-btn {
	margin-top: 1em;
	margin-right: 1em;
	height: 30px;
	width: 30px;
	border-radius: 30px;
}

.new-city-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.form-elms {
	display: flex;
	flex-direction: column;
	align-items: center;
	label {
		margin-bottom: 5px;
	}
	input {
		width: 200px;
		height: 27px;
		height: 24px;
    border-radius: 5px;
    margin-bottom: 20px;
	}
}

.hero {
	background-image: image-url('hero.jpg');
	background-size: 100% 100%;
	margin: 0;
	padding-top: 118px;
	height: 200px;
	h2 {
		margin: 0;
	}
}

.search-bar {
	display: flex;
	flex-direction: column;
	width: 360px;
	height: 100px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #ccc;
	padding: 1em;
	font-family: 'Open Sans', sans-serif;
	h2 {
		text-align: center;
		color: #329999;
		font-size: 27px;
		margin-bottom: 10px;
	}
	input {
		background-image: image-url('magnifier.png');
		background-repeat: no-repeat;
		text-indent: 20px;
		margin: 0 auto;
		height: 20px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    width: 72%;
    padding: 9px;
    font-size: 14px;
    color: #bcbcbc;
	}
	input:focus {
		outline: none;
	}
}

.city-list {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
  margin: 0 auto;
	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		flex-wrap: wrap;
		margin: 55px auto;
		padding: 0;
		width: 100%;
	}
	li {
		width: 200px;
		height: 270px;
		border: 1px solid #bcbcbc;
		color: #329999;
		text-align: center;
		margin: 0 35px 20px 50px;
	}
	img {
		height: 150px;
		width: 200px;
	}
}

.delete {
	position: absolute;
	padding: 9px;
  color: #ff4c4c;
}

.city-name {
	margin-left: 15px;
  margin-right: 15px;
}

.tag {
	padding: 5px;
	color: #fff;
	margin: 0;
	height: 30px;
}

.hidden-btn {
	display: none;
}

.footer {
	width: 100%;
	background-color: #595959;
	height: 75px;
	flex: 1;
}

@media screen and (min-width: 500px) {
	.tag:hover {
		background-color: #ff4c4c;
		-webkit-transition-duration: 0.6s;
		transition-duration: 0.6s;
	}
}

@media screen and (min-width: 414px) and (max-width: 736px) {
	.city-list {
   	margin: 30px auto;
   	width: 100%;
   	ul {
   		margin: 0 auto;
   		width: 100%;
   	}
   	li {
	   	display: flex;
	   	width: 414px;
	   	height: 130px;
	   	flex-direction: row;
	   	margin: 0;
	   }
	   img {
 	    height: 104px;
	    width: 170px;
	    padding: 11px;
	   }
	 }

	 .city-desc {
	 	order: 2;
	 	display: flex;
	 	flex-direction: column-reverse;
	 	align-items: flex-start; 
	 	justify-content: flex-end;
	 	margin-left: 5px;
	 }

	 .city-name {
	 	margin-right: 16px;
	 	font-size: 12px;
	 }

	 .tag {
	 	color: black;
	 	height: 1px;
	 }

	 .hero {
	 	padding-top: 80px;
	 }

   .search-bar {
   	width: 414px;
   	height: 166px;
   }
}

@media screen and (min-width: 320px) and (max-width: 376px) { 
   .city-list {
   	margin: 30px 0;
   	width: 100%;
   	ul {
   		margin: 0;
   		width: 100%;
   	}
   	li {
	   	display: flex;
	   	width: 375px;
	   	height: 130px;
	   	flex-direction: row;
	   	margin: 0;
	   }
	   img {
 	    height: 104px;
	    width: 170px;
	    padding: 11px;
	   }
	 }

	 .city-desc {
	 	order: 2;
	 	display: flex;
	 	flex-direction: column-reverse;
	 	align-items: flex-start; 
	 	justify-content: flex-end;
	 	margin-left: 5px;
	 }

	 .city-name {
	 	margin-right: 16px;
	 	font-size: 12px;
	 }

	 .tag {
	 	color: black;
	 	height: 1px;
	 }

	 .hero {
	 	padding-top: 80px;
	 }

   .search-bar {
   	width: 340px;
   	height: 166px;
   }
}












